
.formulario-animal{
    
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-animal form{
    background: #FD6457;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}
.formulario-animal input{
   gap: 40px;
    width: 500px;
    height: 50px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.titulo{
    display: flex;
    align-self:center;
    font-size: large;
    font-weight: 800;
}