


header{
    background: #FD6457;
    
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.header-logo{
    color: white;
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    font-weight: 800;
    
    
}
.header-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
.header-nav a{
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;

    transition: color 0.3s ease;
}
.header-nav a:hover{
 color: #fbe6e4;
}